@model HouseCom.Models.PostIndexModel
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Welcome to Foundation</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="~/Content/css/style.css" />

</head>
<body id="as">

    <header class="">

        <nav id="myNav" class="nav navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Brand</a>
                </div>


                <ul class="nav navbar-nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Buy</a></li>
                    <li><a href="#">Rent</a></li>
                </ul>

                <ul class="nav navbar-nav pull-right">
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Registration</a></li>
                </ul>
            </div>
        </nav>

    </header>


    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-success">
                    <div class="panel-heading">Posts List</div>
                    <div id="postsList" class="list-group">
                        @foreach (var item in Model.List)
                        {
                            <a class="list-group-item" href="@Url.Action("View", new { bla = item.Id })">
                                <div id="postItem">
                                    <div class="pull-right">@item.Published.ToShortDateString()</div>

                                    <img id="imgItem" src="~/Content/img/city.png" />
                                    <div id="postItem">
                                        <div><b>@item.Subject</b></div>
                                        <div>@item.Body</div>
                                    </div>
                                </div>
                            </a>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">Create Post</div>
                    @using (Html.BeginForm())
                    {
                        <div class="panel-body">

                            <div>
                                @Html.LabelFor(m => m.NewPost.Subject)
                                @Html.TextBoxFor(m => m.NewPost.Subject)
                                @Html.ValidationMessageFor(m => m.NewPost.Subject)
                            </div>
                            <div>
                                @Html.LabelFor(m => m.NewPost.Body)
                                @Html.TextBoxFor(m => m.NewPost.Body)
                            </div>
                        </div>
                        <div class="panel-footer">
                            <input type="submit" value="Save" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>


    <footer class="">
        <div class="container"></div>
    </footer>



    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/js/style.js"></script>
</body>
</html>