@{
    ViewBag.Title = "Index";
    Layout = null;
}

@model HouseCom.Models.PostIndexModel
@{
    ViewBag.Title = "Map Details";
    Layout = null;

}

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />


    @Styles.Render("~/Content/bootstrap");
    @Styles.Render("~/Content/maps");

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMxXXx_oaTw-wxmFL5I-W8jR-Y3eJYtbA"></script>
</head>
<body>


    <div class="top-ui-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-6 col-lg-6">
                    <div class="panel panel-default top-ui draggable">
                        <div class="panel-heading">
                            <label class="h3">Control panel</label>
                            <button id="homeControlPanel" class="glyphicon glyphicon-home pull-right"></button>
                        </div>
                        <div class="panel-body">
                            <div id="homeControlPanel">
                                <button id="mapBasic" class="btn btn-xs btn-primary">Map basic</button>
                                <button id="markerOptions" class="btn btn-xs btn-danger">Marker Options</button>
                            </div>

                            @Html.Partial("_MapBasicsPartial")
                            @Html.Partial("_MarkerPartial")






                        </div>
                        <div class="panel-footer">Footer</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("_NewLoaction", Model.Loaction)
    <div id="map-api"></div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/maps")
</body>
</html>
