@model HouseCom.Classes.Customer
@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<div>
    @Html.DisplayNameFor(m => m.FirstName)
    @Html.DisplayFor(m => m.FirstName)
</div>
<div>
    @Html.DisplayNameFor(m => m.LastName)
    @Html.DisplayFor(m => m.LastName)
</div>
<div>
    @Html.DisplayNameFor(m => m.DateCreated)
    @Html.DisplayFor(m => m.DateCreated)
</div>